*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
    min-height: 100vh;
    visibility: visible;
    background-color: rgb(30, 30, 30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Header*/
a{
  text-decoration: none;
}

#header {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  padding-top: 5px;

}

#header-img{
  height: 100%;
width: 50%;
}

.margin {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  height: fit-content;
}



/*Hamburguesa*/
.bars__menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.bars__menu span {
  display: block;
  width: 100%;
  height:3px;
  background: #fffffc;
  margin-top: 6px;
}

/*Drawer*/
:where(.css-dev-only-do-not-override-mxhywb).ant-drawer .ant-drawer-content { background: rgb(30, 30, 30); }

:where(.css-dev-only-do-not-override-mxhywb).ant-drawer .ant-drawer-title {
  color: rgb(230, 230, 230);
}

.drawer-opcs{
color: rgb(230, 230, 230);
}

.drawer-opcs:hover{
text-decoration: underline;
}

#drawer-opc1{
  margin-bottom: 8px;
}

.drawer-subs-opcs{
  margin-top: 10px;
  margin-bottom: 8px;
}

/*Menu*/
li {
  list-style: none;
}

#menu {
  display: flex;
  height: 6%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(30, 30, 30);
 
}

#menu-list {
  display: flex;
  background-color: rgb(12, 12, 12);
  border-radius: 30px;
  width: 90%;
  height:80%;
  padding: 5px;
  align-items: center;
  justify-content: space-around;

}

.menu-opc {
  background-color: rgb(12, 12, 12);
  border-radius: 30px;
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-opc1{
  background-color: rgb(12, 12, 12);
}
#menu-opc2{
  background-color: rgb(12, 12, 12);
}
#menu-opc3{
  background-color: rgb(12, 12, 12);
}

.container1{
  border-radius: 30px;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container2{
  border-radius: 30px;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container3{
  border-radius: 30px;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/*WishList*/
#wishList-content{
  height: 90vh;
  overflow: scroll;
  padding: 10px 10px 0 10px;
}



/*Content*/
::-webkit-scrollbar {display: none;}

#main-contents-layout{
  height: 85vh;
  overflow: scroll;
  padding: 10px 10px 0 10px;
}

/*Search*/
#searchBox{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

#searchBar{
  width: 85%;
  border-radius: 30px;
  background-color: rgb(51, 51, 51);
  display: flex;
}

#searchBar input{
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 30px;
  width: 100%;
  padding-left: 10px;
  color: rgb(116, 116, 116);
  outline: none;
}

/*Library*/
#library-content{
  overflow: scroll;
  height: 90vh;
  padding: 10px 10px 0 10px;
}

/*Selecter*/
#bot-menu{
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}

#select{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 90%;
  border-top:1px solid rgb(32, 32, 32);
  border-bottom: 1px solid rgb(32, 32, 32);
  background-color: rgba(36, 36, 36, 0.849);
  border-radius: 30px;
}

.select-opc{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
 
}

#home{
  border: 1px solid red;
  width: 150px;
  height: 125%;
  border-radius: 30px;
  background-color: red;
}

svg{
  height: 1.5em;
  width: 1.5em;
}

#location{
  height: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(41, 41, 41);
}

#location-txt{
  height: fit-content;
  background-color: rgb(41, 41, 41);
}

/*CardGames*/
#space-games-cards{
 overflow: hidden;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 padding-top: 10px;
 padding-bottom: 120px;
}

.games-cards{
  width: 150px;
  padding-top: 2px;
  margin-top: 5px;
  background-color: rgb(12, 12, 12);
  border-radius: 10px 10px 5px 5px;
}

.img-games-cards img{
 border: 2px solid rgb(12, 12, 12);
 border-radius: 10px;
 width: 150px;
 cursor: pointer;
}

.info-games-cards{
  background-color: rgb(12, 12, 12);
  font-size: 14px;
  color: rgb(230, 230, 230);
  padding-left: 4px;
  padding-bottom: 2px;
}

/*Login*/
#container-login{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-header{
  background-color: rgb(33, 33, 255);
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#login-header-text{
  padding: 5px;
  cursor: pointer;

}

#login-header-text:hover{
  text-decoration: underline;
}

#login{
  padding: 10px;
  height: 50vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

#login-title{
  margin-bottom: 15px;
  color: rgb(30, 30, 30);
}

#login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 30vh;
}

.login-form-input{
  border: 1px solid rgb(116, 116, 116);
  outline: none;
  padding: 10px;
  color: black;
  border-radius: 30px;
}

#login-form-button{
  background-color: rgb(33, 33, 255);
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(230, 230, 230);
  cursor: pointer;
}

#login-form-button:hover{
  background-color: rgb(43, 43, 255);
}

#create-account{
  color: rgb(12, 12, 12);
  text-decoration: underline;
  margin-top: 10px;
}

#create-account:hover{
  color: rgb(33, 33, 255);
}

/*Game*/
#game-main{
  background-color: rgb(41, 41, 41);
  border-radius: 20px 20px 0 0;
  margin-top: 5px;
}

#game-img{
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#game-main-info{
  padding-left: 10px;
  padding-bottom: 10px;
}

#game-buy{
  background-color: rgb(41, 41, 41);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.game-btn-buy{
  width: 80%;
  height: 30px;
  color: black;
  background: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#game-text-info{
  padding: 10px;
  text-align: justify;
}

#game-other-info-conainer{
  padding: 10px;
}

#game-other-info-content{
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*Cart*/
#cart-header{
  background-color: rgb(33, 33, 255);
  height: 5%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#cart-header-text{
  cursor: pointer;
}

#cart-header-text:hover{
  text-decoration: underline;
}

#buy-container{
  background-color: rgb(31, 31, 31);
  min-height: 100vh;
  padding: 15px;
}

#buy-costs{
margin: 20px 0;

}

.buy-costs{
  display: flex;
  justify-content: space-between;
}

#buy-total{
  font-weight: bold;
}

#buy-pay{
  margin: 20px 0;
}

#buy-game-info{
display: flex;
margin: 20px 0;
}

#buy-game-img{
  width: 150px;
  height: 150px;
}

#buy-game{
  margin-left: 20px;
}

@media (max-width: 789px){
  #login-header{
    width: 80%;
  }
  #login{
    width: 80%;
  }
}